<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Symfony Trends</title>

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
</head>

<body>
<div class="content">
<div class="row">
    <div class="col-md-12">
        <h1>Symfony Trends</h1>
    </div>
</div>

{% for group in trends %}

    {% set rows = group|batch(2) %}

    {% for row in rows %}

        <div class="row">

            {% for trendId, trend in row %}

                <div class="col-md-6 col-xs-12 col-sm-12">
                    <h2>{{ trend.title }}</h2>

                    {% if trend.chart.type != 'map' %}
                        <div id="{{ trend.id }}" class="chart {{ trend.chart.type }}-chart"></div>
                        <script>

                            $.getJSON('{{ trend.dataFile }}', function(data) {
                                var chart = new Highcharts.Chart('{{ trend.id }}', data);
                            });
                        </script>
                    {% else %}
                        <iframe src="{{ trend.id }}.html" id="{{ trend.id }}" class="chart" scrolling="no"></iframe>
                    {% endif %}
                </div>

            {% endfor %}
        </div>

    {% endfor %}
{% endfor %}
</div>
</body>
</html>
