{% extends '::layout.html.twig' %}

{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//code.highcharts.com/highcharts.js"></script>
    <script src="//code.highcharts.com/maps/modules/map.js"></script>
    <script src="//code.highcharts.com/mapdata/custom/world.js"></script>
    <script src="js/highcharts-renderer.js"></script>
{% endblock %}


{% block content %}
    <div class="content">

        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                Last data update: {{ last_update_time|date('d.m.Y H:i T') }}.
                <a href="about-data.html">More about data</a>.
            </div>
        </div>

        {% for group in trends %}

            {% set rows = group|batch(2) %}

            {% for row in rows %}

                <div class="row">

                    {% for trendId, trend in row %}

                        <div class="col-md-6 col-xs-12 col-sm-12">
                            <h2>{{ trend.title }}</h2>


                            <div id="{{ trend.id }}" class="chart {{ trend.chart.type }}-chart"></div>
                            <script>

                                $.getJSON('{{ trend.dataFile }}', function(data) {
                                    Renderer.{{ trend.chart.type }}Chart('{{ trend.id }}', data);
                                });
                            </script>

                        </div>

                    {% endfor %}
                </div>

            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
